#address {
    width: 500px;
}

#address {
    width: 500px;
}

img {
    width: 800px;
    height: 550px;
    object-fit: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#preferences-page {
    display: none;
}